{{!-- {{yield}} --}}
<article class="call">
  <div class="details">
    <h3>Hank Aaron</h3>
    <div class="detail user">
      <span>User:</span> User #3
    </div>
    <div class="detail deceased">
      <span>Deceased:</span> Hank Aaron
    </div>
    <div class="detail date-of-death">
      <span>Date of Death:</span> Jan 22, 2021
    </div>
    <div class="detail source">
      <span>Source:</span> https://en.wikipedia.org/wiki/Hank_Aaron
    </div>
    <div class="detail small-image">
      <span>Image:</span> https://en.wikipedia.org/wiki/Hank_Aaron#/media/File:Hank_Aaron_1974.jpg
    </div>
    <div class="detail rating">
      <span>Rting:</span> 1
    </div>
  </div>
</article>