<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>Dead List</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="all-calls" class="menu-all-calls">
      All Calls
    </LinkTo>
    <LinkTo @route="make-call" class="menu-make-call">
      Make Call
    </LinkTo>
    <LinkTo @route="register" class="menu-register">
      Register
    </LinkTo>
    <LinkTo @route="log-in" class="menu-login">
      Login
    </LinkTo>
  </div>
</nav>