<Jumbo>
  <h2>Welcome to the Dead List!</h2>
  <p>Keep up-to-date on the recently departed.</p>
</Jumbo>

<div class="call">
  <ul class="results">
    <li>
      <Call />
    </li>
    <li>
      <Call />
    </li>
    <li>
      <Call />
    </li>
  </ul>
</div>