<Jumbo>
  <h2>Log-in</h2>
  <p>
    The Dead Linst is a web application used for documenting and discussing recently the deceased.
    Here you'll find information about folks who have passed on
    and pun-based commentary on their lives.
  </p>
  <div>
    <form action="" method="post" class="form">
      <div>
        <label for="login-email">
          <span>Email Address: </span>
        </label>
        <input type="email" name="login-email" id="login-email" required>
      </div>
      <div>
        <label for="password">
          <span>Password: </span>
        </label>
        <input type="text" name="password" id="password" required>
      </div>
      <div class="form">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
</Jumbo>