<Jumbo>
  <h2>Submit Your Call...</h2>
  <p>
    A web application used for documenting and discussing recently the deceased.
    Here you'll find information about folks who have passed on
    and pun-based commentary on their lives.
  </p>
  <div>
    <form action="" method="post" class="form">
      <div>
        <label for="deceased">
          <span>
            Deceased's Name:
          </span>
        </label>
        <input type="text" name="deceased" id="deceased" required>
      </div>
      <div>
        <label for="date-death">
          <span>
            Date of Death:
          </span>
        </label>
        <input type="date" name="date-death" placeholder="mm-dd-yyyy" id="date-death" required>
      </div>
      <div>
        <label for="source">
          <span>
            Source / Link:
          </span>
        </label>
        <input type="url" name="source" id="source" required>
      </div>
      <div>
        <label for="comment">
          <span>
            Comment / Pun:
          </span>
        </label>
        <textarea id="story" name="story" rows="6" cols="30" placeholder="Comment / Puns" spellcheck="true"
          maxlength="600"></textarea>
      </div>
      <div class="form-cll">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
</Jumbo>