<Jumbo>
  <h2>Submit Your Call...</h2>
  <p>
    A web application used for documenting and discussing recently the deceased.
    Here you'll find information about folks who have passed on
    and pun-based commentary on their lives.
  </p>
  <div>
    <form action="" method="post" class="form-call">
      <div class="form-call">
        <label for="deceased">Deceased's Name: </label>
        <input type="text" name="deceased" id="deceased" required>
      </div>
      <div class="form-call">
        <label for="date-death">Date of Death: </label>
        <input type="date" name="date-death" placeholder="mm-dd-yyyy" id="date-death" required>
      </div>
      <div class="form-call">
        <label for="source">Source / Link: </label>
        <input type="url" name="source" id="source" required>
      </div>
      <div class="form-call">
        <label for="comment">Comment / Pun: </label>
        <textarea id="story" name="story" rows="6" cols="30" placeholder="Comment / Puns" spellcheck="true"
          maxlength="600"></textarea>
      </div>
      <div class="form-cll">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
</Jumbo>