<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About the Dead List</h2>
  <p>
    A web application used for documenting and discussing recently the deceased.
    Here you'll find information about folks who have passed on
    and pun-based commentary on their lives.
  </p>
</div>